/* 
COLORS: #a7e1f1, #44bee0

*/


body {
    font-family: Avenir, Helvetica, sans-serif;
    margin: 0;
    padding-top: 70px;
}

.bgimage {
    width: 100%;
    background-size:cover;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 4.5vw;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #44bee0;
    margin-top: 0;
}


/* ----------------------------NAV BAR START-------------------------- */

.navigation {
    padding-left: 2rem;
    padding-top: .5rem;
    padding-bottom: 0rem;
    overflow: hidden;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navlogo img {
    display: inline-block;
}

#navlogo {
    display:inline-block;
    margin-left: 3%;
}

.topnav {
    background-color: white;
    overflow: hidden;
    display: inline-block;
    padding-left: 0rem;
}

.topnav a {
    float: left;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 1rem;
    font-family: Avenir, Helvetica, sans-serif;
}

.topnav a:hover {
    color: #44bee0;
}

.active {
    color: #44bee0;
}

.active:hover {
    color:white;
}

#button {
    background-color: #44bee0;
    color: white;
    margin-top: .5rem;
    margin-left: 1rem;
    padding: 10px 15px;
    border-radius: 8px;
    opacity: 1;
    transition: 0.3s;
}

#button:hover {
    background-color: #a7e1f1;
}

.navigation .icon {
    display: none;
}

/* ----------------------------NAV BAR END-------------------------- */


/* --------------------------SECTION 1 START------------------------ */

.section1 {
    position: relative;
    background-image: url(EZeeBUY_TopImage.png);
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    /*margin-top: 70px;*/
    text-align: center;
}

.textoverlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --------------------------SECTION 1 END------------------------ */


/* --------------------------SECTION 2 START------------------------ */
.section2 {
    padding-bottom: 5%;
}

.section2 h2 {
    margin-bottom: 0;
    padding: 2% 15% 0% 15%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom: -13%;
    margin-top: -3%;
}
.videoWrapper iframe {
    position: absolute;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}

/* --------------------------SECTION 2 END------------------------ */


/* --------------------------SECTION 3 START------------------------ */
.section3 {
    width: 100%;
    background-color: #44bee0;
    display: inline-block;
    text-align: center;
    padding: 2% 0% 0% 0%;
}

.info1 {
    width: 30%;
    float: left;
    display: inline-block;
    font-size: 1.75vw;
    margin: 0;
}

.info2 {
    width: 30%;
    display: inline-block;
    font-size: 1.75vw;
    margin: auto;
    
}

.info3 {
    width: 30%;
    display: inline-block;
    font-size: 1.75vw;
    margin: 0;
    float: right;
    
}


.number {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 400%;
    margin: 0;
    text-align: center;
}

/* --------------------------SECTION 3 END------------------------ */


/* --------------------------SECTION 4 START------------------------ */

.section4 {
    text-align: center;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
    font-size: 1.3rem;
    background-color: #F8F8F8;
}

.section4 p:last-child {
    margin-bottom: 0;
}

.section4 h2 {
    padding-top: 3%;
}

/* --------------------------SECTION 4 END------------------------ */


/* --------------------------SECTION 5 START------------------------ */

.section5 {
    margin: 0;
}

.section5 h1{
    padding: 2.5% 5%;
    font-size: 4vw;
}

/* --------------------------SECTION 5 END------------------------ */


/* --------------------------SECTION 6 START------------------------ */

.section6 {
    background-color: #44bee0;
    color: white;
    text-align: center;
    display: inline-block;
    padding-top: 4%;
    padding-bottom: 3%;
    font-size: 1.3rem;
    width: 100%;
}

.section6 h2 {
    color: #202020;
    font-size: 200%;
    margin-bottom: o;
}

.infographic {
    width: 90%;
    display: inline-block;
    font-size: 150%;
    margin: auto;
}

.infographicmobile {
    display: none;
}


/* --------------------------SECTION 6 END------------------------ */


/* --------------------------SECTION 7 START------------------------ */

.section7 {
    text-align: center;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 14%;
    padding-bottom: 4%;
    font-size: 1.3rem;
    background-color: #F8F8F8;
}

.section7 h2 {
    padding-top: 3%;
}

/* --------------------------SECTION 7 END------------------------ */


/* --------------------------SECTION 8 START------------------------ */

.section8 {
    padding: 5% 10%;
    display: inline-block;
}

.leftteam {
    width:45%;
    display: inline-block;
    float: left;
}

.rightteam {
    width: 45%;
    display: inline-block;
    float: right;
}

.membername {
    color: #44bee0;
    font-weight: 600;
    margin-bottom: 0;
}

td {
    padding: 1rem .75rem;
}

.section8mobile {
    display: none;
}

/* Container needed to position the overlay. Adjust the width as needed */
.people-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(255, 255, 255, 0.7);
}

/* When you mouse over the container, fade in the overlay icon*/
.people-container:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.linkedin-icon {
  color: #44bee0;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.linkedin-icon:hover {
  color: #a7e1f1;
}

/* --------------------------SECTION 8 END------------------------ */

/* --------------------------SECTION 9 START------------------------ */

.section9 {
    width: 100vw;
    display: inline-block;
    padding-bottom: 3%;
}

.section9 h2 {
    width: 100vw;
    margin: auto;
    padding-bottom: 2%
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.section9 img {
    display: inline;
    margin: 0 auto;
    height: 115px;
    width: auto;
}

.leftteamadvisors {
    width:45%;
    padding-left: 10%;
    display: inline-block;
    float: left;
}

.rightteamadvisors {
    width: 45%;
    display: inline-block;
    float: right;
}

.membername {
    color: #44bee0;
    font-weight: 600;
    margin-bottom: 0;
}

td {
    padding: 1rem .75rem;
}

.section9mobile {
    display: none;
}

/* --------------------------SECTION 9 END------------------------ */


/* --------------------------SECTION 10 START------------------------ */

.section10 {
    /*background-color: #202020;*/
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 3.5rem;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.section10 p {
    margin: 0;
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}

.section10 i {
    font-size: 3.5rem;
    padding: .5rem;
}

.section10 img {
    display: block;
    margin: auto;
    padding: 2rem;
}

.section10 a:link {
    color: white;
}

.section10 a:visited {
    color: white;
}

.section10 a:hover {
    color: #44bee0;
}

.section10 a:active {
    color: #44bee0;
}

a:hover#section9 {
    color: white;
}


/* --------------------------SECTION 10 END------------------------ */



/* -----------------------------------------------------------------
----------------------------MEDIA QUERIES--------------------------- 
--------------------------------------------------------------------*/

@media screen and (max-width: 1200px) {
    .topnav {
        padding-left: 0;
        display: block;
        padding-left: 0;
    }
    
    .navigation {
        padding-left: 0;
    }
    
    .topnav a {
        display: none;
    }
    
    .navigation a.icon {
        display: block;
        position: absolute;
        top: 18px;
        right: 10px;
        color: black;
        font-size: 1.25rem;
        padding-right: 10px;
}
    
    .topnav a:active {
        width: 89%;
        float: left;
}

    .topnav img{
        size: 50%;
        left: 10%;
    }
    
    a#button {
        width: 250px;
        margin: auto;
        margin-bottom: 2%;
    }
 
/* Responsive Class is for mobile navbar */    
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        
  }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
  }
    
    
    /*----------------SECTION 1 START-------------------- */
    .section1 {
        height: 100vh;
        background-image: url(EZeeBUY_TopImageMobile.png);
        color: white;
    }
    
        /*----------------SECTION 8 START-------------------- */
    
    .section8mobile {
        padding-top: 10%;
        display: block;
    }
    
    .section8 {
        display: none;
    }
    
    /* Container needed to position the overlay. Adjust the width as needed */
.people-container-mobile {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay-mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
    
/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.linkedin-icon-mobile {
  color: #44bee0;
  font-size: 30px;
  position: absolute;
  top: 85%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
    background-color: white;
    
}

/* When you move the mouse over the icon, change color */
.linkedin-icon-mobile:hover {
  color: #a7e1f1;
}
    
        /*----------------SECTION 9 START-------------------- */
    
    .section9mobile {
        display: block;
    }
    
    .section9 {
        display: none;
    }
}ã€€

/*-------------------------NAVBAR START-------------------------*/ 

@media screen and (max-width: 600px) {
    
    .navigation {
        padding-top: 0;
    }
    
    .topnav {
        padding-left: 0;
    }
    
    .topnav a {
        display: none;
    }
    
  .navigation a.icon {
        display: block;
        position: absolute;
        top: 36px;
        right: 15px;
        color: black;
        z-index: 5;
}
    
    .topnav a:active {
        width: 100%;
        float: none;
}
/*
    .topnav img{
        width: 50%;
    }
 */
/* Responsive Class is for mobile navbar */    
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
  }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
  }

}
    
/*-------------------------NAVBAR END-------------------------*/


    
@media screen and (max-width: 600px) {

/*----------------SECTION 1 START-------------------- */
    .section1 {
        height: 100vh;
        background-image: url(EZeeBUY_TopImageMobile.png);
        height: 700px;
        background-attachment: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        text-align: center;
        font-size: 98%;
    }

    .section1 h1 {
        font-size: 1.5rem;
}

    .textoverlay {
        top: 35%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
}

    
/*----------------SECTION 2 START-------------------- */
    .section2 {
    padding-bottom: 0%;
}
    .section2 h2 {
        padding-bottom: 10%;
    }

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom: 0%;
}
.videoWrapper iframe {
    position: absolute;
    margin-top: 5%;
    margin:auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*----------------SECTION 3 START-------------------- */
    .section3 {
        width: 100%;
        padding-top: 10vh;
        display: block;
        height: 115vh;
        padding-bottom: 6vh;
}
    
    .info1 {
        font-size: 5vw;
        width: 100%;
        display: block;
}

    .info2 {
        font-size: 5vw;
        width: 100%;
        display: block;
}

    .info3 {
        font-size: 5vw;
        width: 100%;
        display: block;
}

    .number {
        font-size: 400%;
    }
    
/*----------------SECTION 4 START-------------------- */
    
    .section4 p:last-child {
        margin-bottom: 0;
    }
    
    .section4 {
        padding-bottom: 7%;
    }

    
/*----------------SECTION 6 START-------------------- */
    
    .infographic {
        display: none;
    }
    
    .infographicmobile {
        display: block;
        width: 100%;
    }
    
    /*----------------SECTION 8 START-------------------- */
    
    .section8mobile {
        display: block;
    }
    
    .section8 {
        display: none;
    }
    
    
        /*----------------SECTION 9 START-------------------- */
    
    .section9mobile {
        display: block;
    }
    
    .section9 {
        display: none;
    }
}